// colors
$main-yellow: #ffde5a;
$main-black: #000;
$main-white: #fff;
$light-gray: rgb(228, 226, 226);
$dark-gray: rgb(167, 166, 166);

// weight
$extra-small-weight: 380px;
$small-weight: 480px;
$medium-weight: 768px;
$large-weight: 1024px;
$extra-large-weight: 1200px;

// fonts
$font-family-roboto: 'Roboto';

$randomNumber: random(2);